body {
    overflow: hidden;
    font-family: Inter;
}

#app {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#geop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#pemob {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 10%;
    background-color: #ffffff00;
    z-index: 2;
    
}
#menu_catalog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: white;
}

#menu_pemob {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: white;
}

.botao_menu {
    position: absolute;
    top: 5px;
    background-color: #f3f3f3;
    width: 80px;
    height: 25px;
    font-size: 12px;
    color: #030303;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex
;
}

.botao_menu:hover {
    cursor: pointer;
}

.botao_menu.clicked {
    position: absolute;
    background-color: #c00026;
    color: white;
}

#botao_tables {
    right: 165px;
}

#botao_graphs {
    right: 85px;
}

#botao_sobre {
    right: 5px;
}

#botao_fundo {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 250px;
    height: 35px;
    background-color: #f3f3f3;
}

#logo_insper {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 100px;
    height: 40px;
    background-image: url(/images/logo_insper.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#menu_itens {
    position: absolute;
    top: 0px;
    left: 150px;
    height: 100%;
    width: 400px;
}

ul.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 15px;
    display: flex;
    gap: 1rem;
}
  
ul.horizontal-list li {
    padding: 0.5rem 0.5rem;
}

ul.horizontal-list li:hover {
    color: #c00026;
    cursor: pointer;
}

ul.horizontal-list li.clicked {
    color: #c00026;
}

.tool {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 90%;
    background-color: #f3f3f3;
}

#metadado_catalog {
    position: absolute;
    width: calc(75% - 31px);
    left: calc(25% + 17px);
    background-color: white;
    padding: 0px 10px 0px 10px;
}

#arvore, #arvore_catalog {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 25%;
    height: calc(100% - 120px);
    background-color: #fff;
}

#titulos, #titulos_catalog {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
    height: 108px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#titulo, #titulo_catalog {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    color: #030303;
    margin-right: 10px;
}

#subtitulo, #subtitulo_catalog {
    font-size: 15px;
    padding: 0px 15px 15px 15px;
    color: #414042;
}
  
#sheet, #sheet_catalog {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 75%;
    height: 100%;
    background-color: #f3f3f3;
}

#graph {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 0;
    background-color: white;
    overflow: hidden;
}

#distribution {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#estados + .select2-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(25% - 15px) !important;
    z-index: 1000;
}

#variaveis + .select2-container {
    position: absolute;
    top: 10px;
    left: calc(25% - 15px + 15px);
    width: calc(25% - 15px) !important;
    z-index: 1000;
}

#slider {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#output {
    position: absolute;
    bottom: 40px; /* Um pouco acima do slider */
    left: 10px;
    color: gray;
    font-size: 14px;
}

#botao_distribution {
    right: 10px;
}

#botao_radar {
    right: 110px;
}

.botao_grafico {
    position: absolute;
    top: 10px;
    width: 100px;
    height: 30px;
    background-color: white;
    font-size: 15px;
    color: #030303;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex
}

.botao_grafico:hover {
    cursor: pointer;
    box-shadow: #414042;
}

.botao_grafico.clicked {
    background-color: #c00026;
    color: white;
}

#Tree {
    overflow-x: hidden;
}

a[id^="no_checkbox"] .jstree-checkbox{
    display: none;
}

.jstree-anchor {
    display: inline-table;
    white-space: normal;
    padding: 0px 40px 0px 0px;
    margin: 0;
    vertical-align: top;
    font-size: 12px;
    word-wrap: break-word;
}

.jstree-default .tema .jstree-icon:empty {
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.jstree-default .subtema .jstree-icon:empty {
    width: 19px;
    height: 24px;
    line-height: 19px;
}

.jstree-anchor.jstree-disabled.tema {
    font-weight: bold;
    font-size: 13.5px;
    color: #414042;
}

.jstree-anchor.jstree-disabled.subtema {
    font-size: 12.3px;
    color: #414042;
}

a[id^="no_checkbox_"].jstree-hovered.subtema .jstree-icon:empty {
    width: 22px;
    height: 24px;
    line-height: 22px;
}

a[id^="no_checkbox_"].jstree-anchor.jstree-disabled.jstree-hovered {
    color: #c00026;
    font-weight: bold;
    font-size: 13.5px;
  }

.jstree-default a[id^="no_checkbox_"].jstree-disabled.jstree-hovered {
    background: #c0002655;
}

.jstree-default .jstree-disabled > .jstree-icon {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
}

input.gridjs-input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: #fff !important;
    border: 0px solid !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    line-height: 1.45 !important;
    outline: none !important;
    width: calc(100% - 24px) !important;
    height: 35px !important;
    padding: 10px 13px !important;
    position: relative !important;
    left: 15px !important;
    top: 2px !important;
}

.gridjs-search {
    float: left !important;
    position: relative !important;
    width: 100% !important;
}

.gridjs-wrapper {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    border-color: #e5e7eb !important;
    border-radius: 0px 0px 0 0 !important;
    border-top-width: 0px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .1), 0 0px 0px 0 rgba(0, 0, 0, .26) !important;
    display: block !important;
    overflow: auto !important;
    position: relative !important;
    width: calc(100% - 24px) !important;
    left: 15px !important;
    z-index: 1 !important;
}

.gridjs-footer {
    background-color: #fff !important;
    border-bottom-width: 1px !important;
    border-color: #e5e7eb !important;
    border-radius: 0 0 0px 0px !important;
    border-top: 0px solid !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .1), 0 0px 0px 0 rgba(0, 0, 0, .26) !important;
    display: block !important;
    padding: 12px 24px !important;
    position: relative !important;
    width: calc(100% - 24px) !important;
    z-index: 5 !important;
    left: 15px !important;
}

th.gridjs-th {
    color: #030303 !important;
}

.gridjs-wrapper {
    overflow-x: hidden !important;
}

.gridjs-td, .gridjs-th {
    white-space: normal !important;
    word-break: break-word !important;
}

  
.jstree .splus > .jstree-themeicon-custom {
    display: none;
}

.jstree .tema > .jstree-themeicon-custom {
    display: none;
}
  
#texto_about {
    position: absolute;
    background-color: white;
    top: 10px;
    left: 10px;
    padding: 50px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}